

body{

    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0e0e0e;
    overflow-x: hidden; 
}

*{
    box-sizing: border-box;
    margin: 0;
    
}

.nav01 {
    width: 100%;
    
    background-color: #1b1a1a;
    padding: 15px ;
    border-bottom: 1px solid #636161;
    position: fixed;
    z-index: 1;
}

.ul01 {
    list-style: none;
    display: flex;
    justify-content:space-around;
    padding: 10px;
    margin: 0;
    padding: 0;
    
}

.nav02{
    
    display: flex;
    justify-content:center;
    gap: 20px;
    padding: 10px;
    li{
        list-style: none;
        display: flex;
        outline: none;
        padding: 10px;

    img{
        width: 30px;
        height: 30px;
    }
    }
}



.link {
      text-decoration: none;
      color: white;
      font-size: 18px;
      transition: 0.9s;
      padding: 10px;
      border-radius:5px ;
      
    }

.link:hover {
    box-shadow: 5px 2px 7px rgba(0, 0, 0, 0.5);
    background-color: rgba(127, 255, 212, 0.5);
    color: black;
    transition: 2000ms;
    border: 1px solid rgb(110, 104, 104);
}
    
#inicio{
    
    padding-top: 40px;
    border-bottom: #d42525;
    
    div{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        text-shadow: 1px 1px 1px rgb(194, 168, 168);
        color: #4e4b4b;
        font-size: 20px; 
    p{
    padding-left: 15px;
    text-shadow: 1px 1px 1px rgb(192, 169, 169);
    color: #4d4b4b;
    font: 0.9em sans-serif;
}  
}
}

.imagem{
    
    height:75vh;
    align-items: center;
    margin: 0;  
}

.imagem img{

    width:370px;
    height:370px;
    border-radius: 15em; 
    background-color: rgb(14, 87, 223); 
    border: 5px solid rgb(197, 187, 187);
    animation: exemplo 0.5s ease-in-out infinite alternate;
    
      
}

.evento{
    
    padding-top: 15px;
    border-bottom: #d42525;
    margin: 20px;
    
    div{
    
    border-left:2px solid #e4d9d9;
    background-color: #ddd1d13a;
    padding: 15px;
    border-radius: 5px;
    text-shadow: 1px 1px 1px rgb(192, 169, 169);
    color: #e2dddd;

    &:hover{
        
        transition: 900ms;
        border-left-width: 10px ;
        
    }
}
}
    
.descricao p{

    margin: 3px;
    color: #000;
    
}



#sobre{
    
    padding:20px;
    width: 100%;
   
    .sobre{
    
        background:linear-gradient(120deg , rgba(46, 58, 20, 0.405) ,rgba(4, 230, 4, 0.512), rgba(3, 3, 244, 0.446), rgb(255, 4, 0));
        border-radius: 5px;
        padding: 15px;
        font-size: 18px;
        line-height: 1.6em;
        margin-top: 20px;
        color: #e2dddd;
        font-family: 'Courier New', Courier, monospace;

        p{
            text-indent: 15px;
        }

        h1{
            font-size: 27px;
        }
        
    }
}

    
@keyframes exemplo {
    
    from {transform: translateY(2px)}
    to {transform: translateY(-2px)}
  }

@media (max-width: 370px) {
    
   .texto h1{
        font-size: 22px;
        margin-top: 5px;
   } 
    
   .imagem img{
        width: 250px;
        height: 250px;
       border-radius: 15em;
   }
}
